.service-card {
  border: none;
  border-radius: 20px;
  transition: 0.3s;
}

.service-card:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.service-price {
  font-size: 24px;
  font-weight: 700;
  color: #764CF5;
}

.service-img {
  height: 140px;
  background: #e9ecef;
  border-radius: 12px;
}
