.service-card {
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(180deg, #3B1D6D, #4b1f78);
  overflow: hidden;
  box-shadow: 0px 3px 5px gray;
  height: 100%;
  cursor: pointer;
  transition: transform .2s;
}

.service-card:hover {
  transform: translateY(-3px);
}

.service-img {
  background: #c6c2c2;
  height: 140px;
}

.service-info {
  background: linear-gradient(180deg, #3B1D6D, #4b1f78);
  color: #fff;
  padding: 12px;
}

.service-info h6 {
  font-size: 14px;
  margin-bottom: 4px;
}

.service-info small {
  font-size: 12px;
  opacity: 0.8;
}

.price {
  text-align: right;
  font-weight: bold;
  margin-top: 6px;
}
