.personal-account-page_profile-card {
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  position: relative;
}

.personal-account-page_edit-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.personal-account-page_avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #dee2ff;
  margin: auto;
  margin-bottom: 15px;
  object-fit: cover;
  color: transparent;
  display: block;
}

.personal-account-page_balance-card {
  background: linear-gradient(90deg, #6f42c1, #4c6ef5);
  color: white;
  border-radius: 20px;
  padding: 25px;
}

.personal-account-page_cabinet-user .personal-account-page_freelancer-only {
  display: none;
}

input.editable,
textarea.editable {
  display: none;
}
