.sign-form {
  color: #666;
}

.sign-form_wrapper {
  border-radius: 16px;
}

.sign-form_title {
  color: #3b1d6d;
  font-size: 48px;
  font-weight: 800;
}

.sign-form_submit {
  background-color: #3b1d6d;
}
