.chat-sidebar {
  border-right: 1px solid #eee;
  overflow-y: auto;
}

.chat-sidebar-item {
  padding: 15px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.chat-sidebar-item:hover {
  background: #f2f4ff;
}
