.make-order-page_brief-container {
  max-width: 900px;
  margin: 40px auto;
}

.make-order-page_block {
  background: white;
  border-radius: 18px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.make-order-page_upload-box {
  border: 2px dashed #dee2ff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.make-order-page_upload-box:hover {
  background: #f8f9ff;
}

.make-order-page_file-list {
  margin-top: 10px;
}

.make-order-page_file-item {
  font-size: 0.9rem;
  color: #6c757d;
}
